<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/fonts.css" >
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="masthead">
    <h1>POKEAPI</h1>
    <div class="site-container">
      <form action="" id="search-form">
        <label for="search-keyword" class="visuallyhidden">BUSCAR</label>
        <input id="search-keyword" type="text" name="search-keyword" placeholder="Pokemon..." required>
        <input id="submit-btn" type="submit" value="BUSCAR">
      </form>
    </div>
  </section>
  <div class="site-container" id="container">
    <ul id="CuadrodeDatos"></ul>
  </div>
</body>

  <script src="js/app.js"></script>
</html>
